html,
body {
  display: block;
  row-gap: 20px;
  background-color: black;
  text-align: center;
  color: white;
  margin: 0px;
}

.imagemref {
  align-self: baseline;
  animation-name: hide;
  animation-duration: 500ms;
}

.imagemref:hover {
  animation-name: show;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.topimage {
  /* border: 2px solid #ddd; */
  position: absolute;
  animation: show;
  animation-duration: 500ms;
}

.topimage:hover {
  animation-name: hide;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes hide {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

div {
  margin: 20px;
}

img {
  width: 350px;
  margin: 5px;
}

p,
h3 {
  word-wrap: break-word;
  width: 350px;
  margin: 0px;
  padding: 10px;
  line-height: 20px;
  text-align: center;
  padding: 5px;
  margin: 0;
}

p {
  font-size: 22px;
  padding: 1px;
}

h3 {
  line-height: 30px;
}

a {
  background-color: white;
}

div {
  margin-left: 0;
  margin-right: 0;
}
