@font-face {
  font-family: "UbuntuMono";
  src: url("./fonts/UbuntuMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMonoBold";
  src: url("./fonts/UbuntuMono-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "UbuntuMono", monospace;
}

div {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes hide {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
