@keyframes popup {
  from {
    transform: translateX(0) translateY(0);
    box-shadow: 0px 0px 2px 2px #6b0cfa;
  }
  to {
    transform: translateX(5px) translateY(-5px);
    box-shadow: -4px 4px 2px 2px #6b0cfa;
  }
}

@keyframes popdown {
  from {
    transform: translateX(5px) translateY(-5px);
    box-shadow: -4px 4px 2px 2px #6b0cfa;
  }
  tp {
    transform: translateX(0) translateY(0);
    box-shadow: 0px 0px 2px 2px #6b0cfa;
  }
}

.card {
  cursor: pointer;
  padding: 10px;
  margin: 0px;
  background-color: #ffffff;
  width: 250px;
  height: auto;
  border-radius: 4px;
  padding: 10px;
  animation-name: popdown;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  transition-timing-function: ease-out;
  margin-top: 0px;
  margin-bottom: 20px;
}

.card-title {
  display: flex;
  font-family: "UbuntuMonoBold";
  margin: 0;
  justify-content: space-between;
}

.card h2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0px;
}

.langlogo {
  height: 30px;
  margin: 0px;
  border-radius: 2px;
}

.overimg:hover {
  animation-name: hide;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.overimg {
  animation-name: show;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.overimg,
.underimg {
  display: flex;
  align-self: center;
  width: 250px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.overimg {
  position: absolute;
}

.card:hover {
  animation-name: popup;
  animation-duration: 300ms;
}

.card p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.card-year {
  font-family: "UbuntuMonoItalic" !important;
  margin-top: 0px !important;
  justify-self: flex-start;
}
