@keyframes fall {
  from {
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}

.card-section {
  position: absolute;
  transition: transform 350ms ease-in-out, opacity 300ms ease-in;
  margin-top: 10px;
}

.card-section[data-status="center"] {
  transition-delay: 0ms;
  opacity: 100;
}

.card-section[data-status="right"] {
  transition-delay: 0ms;
  transform: translateX(50%) translateY(-50%) scale(0);
  opacity: 0;
}

.card-section[data-status="left"] {
  transition-delay: 0ms;
  transform: translateX(-50%) translateY(-50%) scale(0);
  opacity: 0;
}
